<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Raihan Chowdhury</title>
</head>
<!-- {% include "./Components/normal.css.html" %} -->
<style>
    @import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap");
    * {
        background-color: #111827;
        font-family: "Cabin", sans-serif;
        /*margin: 5px !important;*/
        margin: 5px !important;
        color: white;
    }
</style>
<style for="Card">
    .card-overview {
        max-width: 300px;
    }
    
    .card-overview small {
        color: var(--sl-color-gray-500);
    }
    
    .card-overview [slot="footer"] {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
<style>
    .card-basic {
        max-width: 50em;
    }
</style>
<!--  -->
<!-- STYLES -->
<body class="sl-theme-dark">
    <!--  -->
    <!-- {% include "./Components/loadSpinner.html" %} -->
        <div id="load">
            <div class="loaderXXX"></div>
        </div>
        <style>
            #load{
                display: flex;
                justify-content: center;
                align-items: center;
                width:95vw;
                height:95vh;
                position:fixed;
                z-index:9999;
            }
        </style>
        <style>
        .loaderXXX {
          border: 16px solid tomato;
          border-radius: 50%;
          border-top: 16px solid white;
          width: 220px;
          height: 220px;
          -webkit-animation: spin 2s linear infinite; /* Safari */
          animation: spin 2s linear infinite;
        }
        
        /* Safari */
        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
        </style>
    <!--  -->

    <div for="links">
        <link
        rel="stylesheet"
        href="./libs/Tailwind_base.css"
        />
        <script
        type="module"
        src="./libs/Tailwind_.js"
        ></script>
        <link
        rel="stylesheet"
        href="./libs/Dark.css"
        />
        <link
        href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
        rel="stylesheet"
        />
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    </div>

    <main style="display:none;" id="contents">
        <!-- HEAD -->
        <div style="display: flex; align-items: center;">
            <div>
              <img
                width="50px"
                src="https://img.icons8.com/bubbles/100/ffffff/year-of-dragon.png"
              />
            </div>
            <Span class="text-2xl text-gray-200">R-Ventures<span class="text-2xl text-red-500">.Solutions</span></Span>
        </div>
        <!--  -->

        <!-- AV,FN,TAG,EDU -->
        <div class="md:flex md:justify-center">
            <!-- Card 1 -->
            <div class="flex justify-center">
                <sl-card class="card-overview">
                    <div class="flex justify-center items-center">
                        <sl-avatar image="./libs/RaihanEXE99.jpg" style="--size: 100px;"></sl-avatar>
                        <div class="text-sm flex justify-center">
                            <div>
                                <h1 class=" font-semibold text-center">Raihan Chowdhury</h1>
                                <h1 class="text-center text-blue-500">RaihanEXE99</h1>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-start items-center">
                        <!-- <sl-icon name="emoji-wink-fill"></sl-icon> -->
                        ℹ️
                        <h1>Bio</h1>
                    </div>
                    <h1 class="ml-3">Build First Optimize Later</h1>
                    <!-- <small style="color: tomato;" class="ml-3">Status :</small
                  ><small style="margin-left: -2px;">Busy👨‍💻</small><br />
                    <small style="color: #3b82f6;" class="ml-3">Mood :</small
                  ><small style="margin-left: -2px;">Regret😪</small> -->
                    <!--  -->
                    <sl-drawer label="Connect" id="connect" placement="bottom" class="drawer-placement-bottom">
                        <a href="https://facebook.com/RaihanEXE99">
                            <sl-avatar image="./libs/icons/facebook.png" style="--size: 48px;"></sl-avatar>
                            <!-- <sl-icon-button name="facebook" src="./libs/icons/facebook.png" style="font-size: 2rem;"></sl-icon-button> -->
                        </a>
                        <a href="https://github.com/RaihanEXE99">
                            <sl-avatar image="./libs/icons/github.png" style="--size: 48px;"></sl-avatar>
                            <!-- <sl-icon-button name="github" style="font-size: 2rem;"></sl-icon-button> -->
                        </a>
            
                        <sl-dialog label="Discord" id="discord-dia" class="dialog-overview">
                            Username : Raihan<br /> Code : #4424
                            <sl-button slot="footer" type="warning" onclick="fcloseButtonDIS()">Close</sl-button>
                        </sl-dialog>
                        <sl-avatar id="discord-btn" onclick="fopenDIS()" image="./libs/icons/discord.png" style="--size: 48px;"></sl-avatar>
                        <!-- <sl-icon-button id="discord-btn" onclick="fopenDIS()" name="discord" style="font-size: 2rem;"></sl-icon-button> -->
            
                        <sl-button slot="footer" type="primary" onclick="fcloseButtonCON()">Close</sl-button>
                    </sl-drawer>
            
                    <sl-button id="connect-btn" onclick="fopenButtonCON()">Connect</sl-button>
                    <!--  -->
                    <div slot="footer">
                        <div class="flex justify-center">
                            <sl-details summary="🤖Update">
                                <!-- <small>* Hi there i'm Raihan Chowdhury 👋</small><br /><br /> -->
                                <small>* 🌱 I’m currently learning Go Language</small
                        ><br /><br />
                        <small
                          >* 💡 I like to explore new technologies and develop software
                          solutions and quick hacks.</small
                        ><br /><br />
                        <small
                          >* 🎓 I'm currently studying Computer Science and
                          Engineering.</small
                        ><br /><br />
                        <small
                          >* 🌱 I'm on track for learning more about Back-end and
                          Artificial Intelligence.</small
                        ><br /><br />
                        <div class="flex justify-center">
                          <lottie-player
                            src="https://assets2.lottiefiles.com/packages/lf20_cy7w16yj.json"
                            background="transparent"
                            speed="1"
                            style="width: 50px; height: 50px;"
                            loop
                            autoplay
                          ></lottie-player>
                        </div>
                      </sl-details>
                    </div>
                  </div>
                </sl-card>
              </div>
              <script for="Discord">
                const dialogDIS = document.querySelector("#discord-dia ");
            
                function fopenDIS() {
                    dialogDIS.show();
                }
            
                function fcloseButtonDIS() {
                    dialogDIS.hide();
                }
            </script>
              <script>
                const drawerCON = document.querySelector("#connect");
                function fopenButtonCON() {
                  drawerCON.show();
                }
                function fcloseButtonCON() {
                  drawerCON.hide();
                }
              </script>
            <!-- Card 2 -->
            <style for="Avatar">
                .avatar-group sl-avatar:not(:first-of-type) {
                    margin-left: -0.5rem;
                }
                
                .avatar-group sl-avatar::part(base) {
                    border: solid 2px white;
                    background-color: #142035;
                }
            </style>
            <div class="flex justify-center">
                <sl-card class="card-basic">
                    <!-- WEB -->
                    <div class="flex justify-start items-center">
                        <!-- <sl-icon name="tools"></sl-icon> -->
                        <img src="./libs/icons/web.png" style="--size: 30px;"/>
                        <h1 class="text-xl ">Web Stack</h1>
                    </div>
                    <!-- FEnd -->
                    <div>
                        <sl-badge type="primary">Frontend</sl-badge>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="avatar-group flex items-center">
                            <sl-avatar initials=" " image="https://img.icons8.com/color/96/000000/vue-js.png "></sl-avatar>
                            <sl-avatar initials=" " image="https://img.icons8.com/ultraviolet/80/000000/react.png "></sl-avatar>
                        </div>
            
                        <!--  -->
                        <sl-drawer label="Front-End " class="drawer-overview ">
                            <div class="flex justify-center">
                                <sl-progress-ring percentage="60" style="--track-color: #ffe2c6; --indicator-color: tomato;">Vue 🎉</sl-progress-ring>
                                <sl-progress-ring percentage="70" style="--track-color: #ffe2c6; --indicator-color: teal;">React 🔥</sl-progress-ring>
                            </div>
                            <div class="details-group-example">
                                <sl-details summary="Why Vue 🤩" open>
                                    Vue.js is an open source progressive JavaScript framework used to develop interactive web interfaces. Vue.js focusses on the view layer, offers a lot of functionality for the view layer and can be used for build powerful single-page web apps.
                                </sl-details>
                                <sl-details summary="Why React 🤔">
                                    <small>
                                      React.js is an open-source JavaScript library that is used for building user interfaces specifically for single-page applications. It’s used for handling the view layer for web and mobile apps. React also allows us to create reusable UI components. React
                                    was first created by Jordan Walke, a software engineer working for Facebook. React first deployed on Facebook’s newsfeed in 2011 and on Instagram.com in 2012<a class=" text-blue-500 text-sm " target="_blank " href="https://www.c-sharpcorner.com/article/what-and-why-reactjs/#:~:text=React%20also%20allows%20us%20to%20create%20reusable%20UI%20components.&text=React%20allows%20developers%20to%20create,user%20interfaces%20in%20the%20application. ">Read more</a>
                                    </small>
                                </sl-details>
                                <sl-details summary="Experience">
                                    <div class="flex justify-center">
                                        <div>
                                            <span class="text-blue-500">React : 2Yr +</span><br/>
                                            <span class="text-green-500 m-4">Vue : 1Yr +</span>
                                        </div>
                                    </div>
                                </sl-details>
                                <!-- <sl-details summary="My Projects">
                                    <sl-button href="https://github.com/./facerecognition" target="_blank">Facerecognition🥶 React</sl-button>
                                    <sl-button href="https://github.com/./myrobofriends" target="_blank">Robot Friends😸 React</sl-button>
                                    <sl-button href="https://github.com/./Marsteo" target="_blank">Marsteo 👾 Vue</sl-button>
                                </sl-details> -->
                            </div>
                            <sl-button slot="footer " type="primary ">Close</sl-button>
                        </sl-drawer>
                        <sl-button>Details 🔥</sl-button>
                        <!--  -->
            
                        <script>
                            const drawer = document.querySelector('.drawer-overview');
                            const openButton = drawer.nextElementSibling;
                            const closeButton = drawer.querySelector('sl-button[type="primary "]');
            
                            openButton.addEventListener('click', () => drawer.show());
                            closeButton.addEventListener('click', () => drawer.hide());
                        </script>
            
                    </div>
                    <!-- BEnd -->
                    <div class="-mb-4">
                        <sl-badge type="danger">Backend</sl-badge>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="avatar-group flex items-center">
                            <sl-avatar initials=" " image="https://img.icons8.com/color/96/000000/nodejs.png"></sl-avatar>
                            <sl-avatar initials=" " image="https://img.icons8.com/fluent/96/000000/flask.png"></sl-avatar>
                            <sl-avatar initials=" " image="https://img.icons8.com/color/96/000000/django.png"></sl-avatar>
                        </div>
            
                        <!--  -->
                        <sl-drawer label="Back-End " placement="left" id="BackEndDRW" class="drawer-overview ">
                            <div class="flex justify-center">
                                <sl-progress-ring percentage="90" style="--track-color: #ffe2c6; --indicator-color: tomato;">Django 🎉</sl-progress-ring>
                                <sl-progress-ring percentage="85" style="--track-color: #ffe2c6; --indicator-color: teal;">Flask 🔥</sl-progress-ring>
                            </div>
                            <div class="flex justify-center">
                                <sl-progress-ring percentage="60" style="--track-color: #ffe2c6; --indicator-color: teal;">Node ✨</sl-progress-ring>
                            </div>
                            <div class="details-group-example" id="BEGROUP">
                                <sl-details summary="Why Django Or Flask 🤩" open>
                                    Django and Flask are both free, open-source, Python-based web frameworks designed for building web applications.
                                </sl-details>
                                </sl-details>
                                <sl-details summary="Why Node 🤔">
                                    <small>
                                      Bcz Its Javascript :)
                                    </small>
                                </sl-details>
                                <sl-details summary="Experience">
                                    <div class="flex justify-center">
                                        <div>
                                            <span class="text-blue-500">Django : 3Yr +</span><br/>
                                            <span class="text-green-500 m-4">Flask : 2Yr +</span><br/>
                                            <span class="text-yellow-500 m-4">Node : 1.5Yr +</span><br/>
                                        </div>
                                    </div>
                                </sl-details>
                                <!-- <sl-details summary="My Projects">
                                    <sl-button href="https://github.com/./facerecognition" target="_blank">Binary-Bot-V2</sl-button>
                                    <div class="m-2">
                                        <h1 class="text-yellow-500">What is Binary-bot-OJ</h1>
                                        <h1 class="text-sm text-gray-200">
                                            This is a web application that that will judge your code ,(like uri,codeforce etc) You can log in, sign up , you can see other user accounts, Submit Your code , and check if its right or not.
                                        </h1>
                                    </div>
                                </sl-details> -->
                            </div>
                            <sl-button slot="footer " type="primary " onclick="fcloseBackEnd()">Close</sl-button>
                        </sl-drawer>
            
                        <sl-button onclick="fopenBackEnd()">Details 🔥</sl-button>
                        <!--  -->
                    </div>
                    <!-- Android -->
                    <sl-menu-divider></sl-menu-divider>
                    <div class="mt-4 flex justify-start items-center">
                        <!-- <sl-icon name="tools"></sl-icon> -->
                        <img src="./libs/icons/android.png" style="--size: 30px;"/>
                        <h1 class="text-xl ">App Development</h1>
                    </div>
                    <div class="-mb-4">
                        <sl-badge type="success">Android</sl-badge>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="avatar-group flex items-center">
                            <img src="https://img.icons8.com/color/48/000000/flutter.png" />
                            <img class="-ml-3" style="width: 20px;" src="https://img.icons8.com/emoji/48/000000/plus-emoji.png" />
                            <img class="-ml-2" src="https://img.icons8.com/color/48/000000/firebase.png" />
                        </div>
            
                        <!--  -->
                        <sl-drawer label="Android" id="AndroidDRW" class="drawer-overview ">
                            <div class="flex justify-center">
                                <sl-progress-ring percentage="65" style="--track-color: #ffe2c6; --indicator-color: tomato;">Flutter 🎉</sl-progress-ring>
                                <sl-progress-ring percentage="75" style="--track-color: #ffe2c6; --indicator-color: teal;">Firebase 🔥</sl-progress-ring>
                            </div>
                            <div class="details-group-example" id="ANGROUP">
                                <sl-details summary="Why Flutter With Firebase 🤩" open>
                                    Firebase is a Backend-as-a-Service (BaaS) app development platform that provides hosted backend services such as a realtime database, cloud storage, authentication, crash reporting, machine learning, remote configuration, and hosting for your static files
                                </sl-details>
                                <sl-details summary="Experience">
                                    <div class="flex justify-center">
                                        <div>
                                            <span class="text-blue-500">Flutter : 6Month +</span><br/>
                                            <span class="text-green-500">Firebase : 8Month +</span><br/>
                                        </div>
                                    </div>
                                </sl-details>
                            </div>
                            <sl-button slot="footer " type="primary " onclick="fcloseAndroidDRW()">Close</sl-button>
                        </sl-drawer>
            
                        <sl-button onclick="fopenAndroidDRW()">Details 🔥</sl-button>
                        <!--  -->
            
                        <script for="frontend">
                            const drawerFend = document.querySelector('.drawer-overview');
                            const openButtonFend = drawerFend.nextElementSibling;
                            const closeButtonFend = drawerFend.querySelector('sl-button[type="primary "]');
            
                            openButtonFend.addEventListener('click', () => drawerFend.show());
                            closeButtonFend.addEventListener('click', () => drawerFend.hide());
                        </script>
            
                        <script for="backend">
                            const dialogBackEnd = document.querySelector('#BackEndDRW');
                            const fopenBackEnd = () => dialogBackEnd.show();
                            const fcloseBackEnd = () => dialogBackEnd.hide();
                        </script>
            
                    </div>
                </sl-card>
            </div>
            
            
            
            <script for="Web">
                // Front End
                const container = document.querySelector('.details-group-example');
            
                // Close all other details when one is shown
                container.addEventListener('sl-show', event => {
                    [...container.querySelectorAll('sl-details')].map(details => (details.open = event.target === details));
                });
            
                // Backend
                const containerBEGROUP = document.querySelector('#BEGROUP');
            
                // Close all other details when one is shown
                containerBEGROUP.addEventListener('sl-show', event => {
                    [...containerBEGROUP.querySelectorAll('sl-details')].map(details => (details.open = event.target === details));
                });
            </script>
            
            <script for="App Dev">
                const dialogAndroidDRW = document.querySelector('#AndroidDRW');
                const fopenAndroidDRW = () => dialogAndroidDRW.show();
                const fcloseAndroidDRW = () => dialogAndroidDRW.hide();
                const containerANGROUP = document.querySelector('#ANGROUP');
            
                // Close all other details when one is shown
                containerANGROUP.addEventListener('sl-show', event => {
                    [...containerANGROUP.querySelectorAll('sl-details')].map(details => (details.open = event.target === details));
                });
            </script>
            
            <style>
                .details-group-example sl-details:not(:last-of-type) {
                    margin-bottom: var(--sl-spacing-xx-small);
                }
            </style>
            <!-- Card 3 -->
            <style>
                .imgAvt img {
                    width: 25px;
                    height: 25px;
                }
                
                sl-button.cusBtnWar::part(base) {
                    background-color: var(--sl-color-warning-950) !important;
                    border-color: var(--sl-color-warning-800) !important;
                    color: var(--sl-color-warning-400) !important;
                }
                
                sl-button.cusBtnWar::part(base):hover {
                    background-color: var(--sl-color-danger-950)!important;
                    border-color: var(--sl-color-danger-800)!important;
                    color: var(--sl-color-danger-400)!important;
                    transform: scale(1.05);
                }
                
                sl-button.cusBtnPri::part(base) {
                    background-color: var(--sl-color-primary-950)!important;
                    border-color: var(--sl-color-primary-800)!important;
                    color: var(--sl-color-primary-400)!important;
                    transform: scale(1.05);
                }
                
                sl-button.cusBtnPri::part(base):hover {
                    background-color: var(--sl-color-warning-950) !important;
                    border-color: var(--sl-color-warning-800) !important;
                    color: var(--sl-color-warning-400) !important;
                }
                
                .h1_pri h1 {
                    color: var(--sl-color-primary-400)!important;
                }
                
                .h1_war h1 {
                    color: var(--sl-color-warning-400)!important;
                }
            </style>
            
            <div class="flex justify-center">
                <sl-card class="card-basic">
                    <div for="1stage" class="lg:flex">
                        <div>
                            <div class="flex justify-start items-center">
                                <img src="./libs/icons/code.png" style="--size: 30px;"/>
                                <h1 class="text-lg ">Programming Languages</h1>
                            </div>
                            <div class="pt-2 avatar-group flex items-center justify-between imgAvt">
                                <div>
                                    <img src="https://img.icons8.com/color/48/000000/c-programming.png" />
                                    <sl-badge type="primary" class="flex justify-center pt-2" pulse>C</sl-badge>
                                </div>
                                <div>
                                    <img src="https://img.icons8.com/color/48/000000/c-plus-plus-logo.png" />
                                    <sl-badge type="danger" class="flex justify-center pt-2" pulse>C++</sl-badge>
                                </div>
                                <div>
                                    <img src="https://img.icons8.com/color/48/000000/java.png" />
                                    <sl-badge type="warning" class="flex justify-center pt-2">Java</sl-badge>
                                </div>
                                <div>
                                    <img src="https://img.icons8.com/color/48/000000/python.png" />
                                    <sl-badge type="danger" class="flex justify-center pt-2" pulse>Python</sl-badge>
                                </div>
                                <div>
                                    <img src="https://img.icons8.com/color/48/000000/dart.png" />
                                    <sl-badge type="success" class="flex justify-center pt-2">Dart</sl-badge>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="flex justify-end items-center">
                                <h1 class="text-lg ">Other Techs</h1>
                                <img src="./libs/icons/web.png" style="--size: 30px;"/>
                                <!-- <sl-icon name="box-seam"></sl-icon> -->
                            </div>
                            <div class="avatar-group flex items-center justify-end">
                                <div>
                                    <div class="flex justify-center imgAvt">
                                        <img src="https://img.icons8.com/color/48/000000/docker.png" />
                                    </div>
                                    <sl-badge type="primary" class="flex justify-center pt-2">Docker</sl-badge>
                                </div>
                                <div>
                                    <div class="flex justify-center imgAvt">
                                        <img src="https://img.icons8.com/fluent/48/000000/github.png" />
                                    </div>
                                    <sl-badge type="danger" class="flex justify-center pt-2" pulse>Github</sl-badge>
                                </div>
                                <div>
                                    <div class="flex justify-center imgAvt">
                                        <img src="https://img.icons8.com/color/48/000000/heroku.png" />
                                    </div>
                                    <sl-badge type="warning" class="flex justify-center pt-2" pulse>Heroku</sl-badge>
                                </div>
            
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div for="2stage" class="lg:flex">
                        <div>
                            <div class="flex justify-start items-center">
                                <!-- <sl-icon name="circle-square"></sl-icon> -->
                                <img src="./libs/icons/design.png" style="--size: 30px;"/>
                                <h1 class="text-lg ">Design & Graphics</h1>
                            </div>
                            <div class="pt-2 avatar-group flex items-center justify-between">
                                <div>
                                    <div class="flex justify-center imgAvt">
                                        <img style="background-color: white;border-radius: 100%; " src="https://img.icons8.com/windows/32/000000/figma.png" />
                                    </div>
                                    <sl-badge type="primary" class="flex justify-center pt-2" pulse>Figma</sl-badge>
                                </div>
                                <div>
                                    <div class="flex justify-center imgAvt">
                                        <img src="https://img.icons8.com/fluent/48/000000/blender-3d.png" />
                                    </div>
                                    <sl-badge type="danger" class="flex justify-center pt-2" pulse>Blender</sl-badge>
                                </div>
                                <div>
                                    <div class="flex justify-center imgAvt">
                                        <img src="https://img.icons8.com/color/48/000000/adobe-xd.png" />
                                    </div>
                                    <sl-badge type="warning" class="flex justify-center pt-2" pulse>XD</sl-badge>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="flex justify-end items-center">
                                <h1 class="text-lg">Game Development</h1>
                                <img src="./libs/icons/game.png" style="--size: 30px;"/>
                                <!-- <sl-icon name="controller"></sl-icon> -->
                            </div>
                            <div class="pt-2 avatar-group flex items-center justify-end imgAvt">
                                <div>
                                    <div class="flex justify-center imgAvt">
                                        <img src="https://img.icons8.com/color/48/000000/unreal-engine.png" />
                                    </div>
                                    <sl-badge type="primary" class="flex justify-center pt-2">Unreal Engine 4</sl-badge>
                                </div>
                                <div>
                                    <div class="flex justify-center imgAvt">
                                        <img src="https://img.icons8.com/color/48/000000/c-plus-plus-logo.png" />
                                    </div>
                                    <sl-badge type="warning" class="flex justify-center pt-2" pulse>With C++</sl-badge>
                                </div>
                                <div>
                                    <div class="flex justify-center items-center imgAvt">
                                        <img src="https://img.icons8.com/fluent/48/000000/blueprint.png" />
                                    </div>
                                    <sl-badge type="danger" class="flex justify-center pt-2" pulse>Blueprint</sl-badge>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <sl-menu-divider></sl-menu-divider>
                    <div for="aboutme and" class="lg:flex">
                        <div class="flex justify-evenly">
                            <div>
                                <sl-drawer id="dialogAboutMe" label="About Me🎃" class="drawer-overview">
            
                                    <div class="text-center mt-16">
                                        <h1 class="text-xl text-yellow-400">Hi there i'm Raihan Chowdhury 👋</h1>
                                        <small>A full Stack Web and App Developer .Im studying Computer Science & Engineering under National University.</small><br/>
                                    </div>
                                    <div class="flex justify-center">
                                        <div class="h1_war">
                                            <h1>Nickname</h1>
                                            <h1>Age</h1>
                                            <h1>Study</h1>
                                            <h1>Degree</h1>
                                            <h1>Area of </h1>
                                            <h1>study</h1>
                                            <h1>Start of Bsc</h1>
                                            <h1>Expected graduation</h1>
                                        </div>
                                        <div class="h1_pri">
                                            <h2 class="text-red-500">Musfiq</h2>
                                            <h1>20</h1>
                                            <h1>Dhaka City College</h1>
                                            <h1>B.sc</h1>
                                            <h1>Computer Science & Engineering</h1>
                                            <h1>2020 Jan</h1>
                                            <h1>2024 Jan</h1>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <h1 class="mt-4 text-sm text-green-500">Always love to learn new technologies</h1>
                                    </div>
            
                                    <sl-button slot="footer" type="primary">Close</sl-button>
                                </sl-drawer>
            
                                <sl-button class="cusBtnPri">About Me🎃</sl-button>
                                <script>
                                    const dialogAboutMe = document.querySelector('#dialogAboutMe');
                                    const openButtonAboutMe = dialogAboutMe.nextElementSibling;
                                    const closeButtonAboutMe = dialogAboutMe.querySelector('sl-button[slot="footer"]');
            
                                    openButtonAboutMe.addEventListener('click', () => dialogAboutMe.show());
                                    closeButtonAboutMe.addEventListener('click', () => dialogAboutMe.hide());
                                </script>
                            </div>
                            <div>
                                <sl-drawer id="dialogExperience" placement="left" label="Experience🎄" class="drawer-overview">
                                    <sl-tab-group placement="left" class="mt-16">
            
                                        <sl-tab slot="nav" panel="brainstation">Brainstation</sl-tab>
                                        <sl-tab slot="nav" panel="binraybeast">Team Binary Beast</sl-tab>
                                        <!-- <sl-tab slot="nav" panel="golglass">GolGlass</sl-tab> -->
            
                                        <sl-tab-panel name="brainstation">
                                            <span class="text-green-500">
                                                Position : <span class="text-yellow-500"> CEO</span>
                                            </span><br/>
                                            <span class="text-red-500">
                                                From :
                                            </span>
                                            <small>
                                                2020 
                                            </small><br/>
                                            <span class="text-red-500">
                                                To :
                                            </span>
                                            <small>
                                                 Present
                                            </small>
                                            <br/>
                                            <span class="text-xs text-yellow-500">(Tech Company)</span>
                                        </sl-tab-panel>
                                        <sl-tab-panel name="binraybeast">
                                            <span class="text-yellow-500"> Team</span>
                                            <br/>
                                            <span class="text-red-500">
                                                From :
                                            </span>
                                            <small>
                                                2019 
                                            </small><br/>
                                            <span class="text-red-500">
                                                To :
                                            </span>
                                            <small>
                                                Present
                                            </small>
                                        </sl-tab-panel>
                                        <!-- <sl-tab-panel name="golglass">
                                            <span class="text-green-500">
                                                Position : <span class="text-yellow-500">CTO</span>
                                            </span><br/>
                                            <span class="text-red-500">
                                                From :
                                            </span>
                                            <small>
                                                2019 
                                            </small><br/>
                                            <span class="text-red-500">
                                                To :
                                            </span>
                                            <small>
                                                Present
                                            </small> <br/>
                                            <span class="text-yellow-500">(Business)</span>
                                        </sl-tab-panel> -->
            
                                    </sl-tab-group>
            
                                    <sl-button slot="footer" type="primary">Close</sl-button>
                                </sl-drawer>
            
                                <sl-button class="cusBtnWar">Experience🎄</sl-button>
                                <script>
                                    const dialogExperience = document.querySelector('#dialogExperience');
                                    const openButtonExperience = dialogExperience.nextElementSibling;
                                    const closeButtonExperience = dialogExperience.querySelector('sl-button[slot="footer"]');
            
                                    openButtonExperience.addEventListener('click', () => dialogExperience.show());
                                    closeButtonExperience.addEventListener('click', () => dialogExperience.hide());
                                </script>
                            </div>
                        </div>
                        <div class="flex justify-evenly">
                            <div>
                                <sl-button href="https://github.com/RaihanEXE99" target="_blank" class="cusBtnPri">Github🎉</sl-button>
                            </div>
                            <div>
                                <!-- <sl-drawer id="dialogContact" placement="bottom" label="Contact Details📢" class="drawer-overview"> -->
            
                                <sl-dialog label="Email" id="dialogEmail" class="dialog-overview">
                                    <h1>Gmail - RaihanEXE99@gmail.com </h1>
                                    <sl-button slot="footer" style="width:100%;" type="warning">Close</sl-button>
                                </sl-dialog>
            
                                <sl-button class="cusBtnWar">Email</sl-button>
            
                                <script>
                                    const dialogEmail = document.querySelector('#dialogEmail');
                                    const openButtonEmail = dialogEmail.nextElementSibling;
                                    const closeButtonEmail = dialogEmail.querySelector('sl-button[slot="footer"]');
            
                                    openButtonEmail.addEventListener('click', () => dialogEmail.show());
                                    closeButtonEmail.addEventListener('click', () => dialogEmail.hide());
                                </script>
            
                                <!-- <sl-button slot="footer" type="primary">Close</sl-button> -->
                                <!-- </sl-drawer> -->
            
                                <!-- <sl-button class="cusBtnWar">Contact</sl-button>
                                <script>
                                    const dialogContact = document.querySelector('#dialogContact');
                                    const openButtonContact = dialogContact.nextElementSibling;
                                    const closeButtonContact = dialogContact.querySelector('sl-button[slot="footer"]');
            
                                    openButtonContact.addEventListener('click', () => dialogContact.show());
                                    closeButtonContact.addEventListener('click', () => dialogContact.hide());
                                </script> -->
                            </div>
                        </div>
                    </div>
                </sl-card>
            </div>
        </div>
    </main>

    <div style="display: flex;justify-content: center;">
        <!-- <img id="LoadSpinner" src onerror='showMain()' /> -->
    </div>
    
    <!-- <script for="Loadspinner">
        const main = document.querySelector("#main");
        const LoadSpinner = document.querySelector("#LoadSpinner");
    
        const showMain = () => {
            LoadSpinner.style.display = "none";
            main.style.display = "block";
        }
    </script> -->
    
    <script>
        document.onreadystatechange = function () {
            var state = document.readyState
            if (state == 'interactive') {
    //             document.getElementById('contents').style.visibility="hidden";
                 document.getElementById('contents').style.display="none";
            } else if (state == 'complete') {
                setTimeout(function(){
                   document.getElementById('interactive');
                   document.getElementById('load').style.display="none";
    //               document.getElementById('contents').style.visibility="visible";
                     document.getElementById('contents').style.display = "block";
                },1000);
            }
          }
    </script>
    <!-- X -->
</body>

</html>